@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #a4a4a4;
    border-radius: 50px;
    border: 4px solid #fff;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



  
  .mat-mdc-form-field-hint {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #6b7280;
  }
  
  button[mat-icon-button].icon-button-large {
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
  
  button[mat-icon-button].icon-button-large .mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  
  button[mat-icon-button].icon-button-large .mat-button-ripple {
    font-size: inherit;
    width: inherit;
    height: inherit;
    line-height: inherit;
  }
  
  button[mat-icon-button].icon-button-xlarge {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
  
  button[mat-icon-button].icon-button-xlarge .mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
  
  button[mat-icon-button].icon-button-xlarge .mat-button-ripple {
    font-size: inherit;
    width: inherit;
    height: inherit;
    line-height: inherit;
  }
  
  button[mat-icon-button].icon-button-small {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  
  button[mat-icon-button].icon-button-small .mat-icon {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
  
  button[mat-icon-button].icon-button-small .mat-button-ripple {
    font-size: inherit;
    width: inherit;
    height: inherit;
    line-height: inherit;
  }
  
  .mat-mdc-dialog-actions {
    padding: 24px !important;
  }

  .mat-mdc-form-field .mdc-notched-outline__notch {
    border-right: 0px !important;
  }


  .fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  .fa-pinterest {  
    background: #cb2027;  
    color: white;  
  }  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;  
  }  
  .fa-google {  
    background: #dd4b39;  
    color: white;  
  }  
  .fa-snapchat-ghost {  
    background: #fffc00;  
    color: white;  
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
  }  
  .fa-skype {  
    background: #00aff0;  
    color: white;  
  }  
  .fa:hover {  
      opacity: 0.9;  
  }  